<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TMAProject.EzzSteel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.TMAProject.EzzSteel.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.TMAProject.EzzSteel.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.GenralSearchActivity"
            android:label="@string/title_activity_genral_search"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ComplaintActivity"
            android:label="@string/complaint_activity_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.SubDerpartmentActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.ProviderActivity" />
        <activity android:name=".Activities.InfoPdfActivity" />
        <activity android:name=".Activities.BranchActivity" />
        <activity android:name=".Activities.BranchDetailsActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.NotificationActivity" />

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.TMAProject.EzzSteel" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Notifcations.Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:23683710387" />
        ;
        <activity android:name=".Activities.NotifcationDetailesActivity"></activity>
    </application>

</manifest>